<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title text-center">Registro y calculo de CHO</h2>
            <form>
                <div class="form-group mt-2">
                    <label class="h5" for="fecha">Fecha:</label>
                    <form class="row row-cols-sm-auto">
                        <div class="col-12">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                                    ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()"
                                    type="button">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-group mt-2">
                    <label class="h5" for="comida">Comida:</label>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group" role="group" aria-label="Vertical radio toggle button group">
                            <input type="radio" class="btn-check" name="vbtn-radio1" id="desayuno" [(ngModel)]="comida"
                                [value]="'Desayuno'" autocomplete="off">
                            <label class="btn btn-outline-primary" for="desayuno">Desayuno</label>
                            <input type="radio" class="btn-check" name="vbtn-radio1" id="almuerzo" [(ngModel)]="comida"
                                [value]="'Almuerzo'" autocomplete="off">
                            <label class="btn btn-outline-primary" for="almuerzo">Almuerzo</label>
                            <input type="radio" class="btn-check" name="vbtn-radio1" id="comida" [(ngModel)]="comida"
                                [value]="'Comida'" autocomplete="off">
                            <label class="btn btn-outline-primary" for="comida">Comida</label>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="card" >
                        <div class="card-body">
                            <label class="h5" for="control">Registro de comidas:</label>
                            <app-resgitro-comidas (totalCHOEvent)="actualizarTotalCHO($event)"></app-resgitro-comidas>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label class="h5" for="totalCHO">Total CHO:</label>
                    <input type="number" id="totalCHO" name="totalCHO" class="form-control form-control-sm"
                        [(ngModel)]="totalCHO" disabled readonly>
                </div>

                <div class="form-group mt-2">
                    <label class="h5" for="insulinaCHO">Insulina x CHO:</label>
                    <input type="number" id="insulinaCHO" name="insulinaCHO" class="form-control form-control-sm"
                        [(ngModel)]="insulinaCHO" disabled readonly>
                </div>

                <div class="form-group mt-2">
                    <label class="h5" for="glucometriaPre">Glucometría Pre:</label>
                    <input type="number" id="glucometriaPre" name="glucometriaPre" class="form-control form-control-sm"
                        [(ngModel)]="glucometriaPre" (ngModelChange)="insulinaxGluco()" required>
                </div>

                <div class="form-group mt-2">
                    <label class="h5" for="insulinaGlucometria">Insulina x Glucometría:</label>
                    <input type="number" id="insulinaGlucometria" name="insulinaGlucometria"
                        class="form-control form-control-sm" [(ngModel)]="insulinaGlucometria" disabled readonly>
                </div>

                <div class="form-group mt-2">
                    <label class="h5" for="totalInsulina">Total Insulina:</label>
                    <input type="number" id="totalInsulina" name="totalInsulina" class="form-control form-control-sm"
                        [(ngModel)]="totalInsulina" disabled readonly>
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary" (click)="guardarDatos()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>